@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//cdn.jsdelivr.net/gh/sharanda/manrope@blob/master/fonts/web/index.min.css);
$family-sans-serif: 'Spoqa Han Sans', sans-serif;
* {
  font-family: $family-sans-serif;
}
body {
  margin: 0;
}